<div *ngIf="isLoading$ | async" class="loading">Loading...</div>

<div *ngIf="error$ | async" class="error">
  <p>{{ error$ | async }}</p>
  <button (click)="onRetry()">Retry</button>
</div>

<!-- Add New Product Form using Reactive Form -->
<form [formGroup]="productForm" (ngSubmit)="onAddProduct()">
  <div>
    <label for="name">Product Name</label>
    <input id="name" formControlName="name" placeholder="Product Name">
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="error-message">
      Product name is required (at least 3 characters)
    </div>
  </div>

  <div>
    <label for="price">Price</label>
    <input id="price" formControlName="price" type="number" placeholder="Price">
    <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error-message">
      Price must be a number greater than zero
    </div>
  </div>

  <button type="submit" [disabled]="productForm.invalid">Add Product</button>
</form>

<!-- 
<ul *ngIf="!(isLoading$ | async) && !(error$ | async)">
  <li *ngFor="let product of products$ | async">
    {{ product.name }} - {{ product.price }}$
    <button (click)="onDelete(product.id)">Delete</button>
    <button (click)="onPlaceOrder(product)">Order Now</button>
  </li>
</ul> -->



<div *ngIf="!(isLoading$ | async) && !(error$ | async)" class="product-list">
  <div *ngFor="let product of products$ | async" class="product-card">
    <div class="card-header">
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-price">${{ product.price }}</p>
    </div>
    <div class="card-body">
      <button (click)="onDelete(product.id)" class="delete-btn">Delete</button>
      <button (click)="onPlaceOrder(product)" class="order-btn">Order Now</button>
    </div>
  </div>
</div>
